
/* nav pages */

.newdiv{

list-style-type: none;

     overflow: hidden;

         background-color: rgb(208, 255, 0);
      
         background-radius: 10px ;

             border: 0px solid red;
             border-radius: 30px 25px ;

     margin: 10px ;
         padding: 10px  ;
}


.new {
 
 float: right;

    padding: 15px 16px ;

          text-decoration: none;

             display: block ;
             
             
    
                 border: 0px solid gold ;

                 border-radius: 10px 20px ;
    
         font-size: 15px ;
    
}

.new:hover{

     color: black;

     background-color: crimson ;

       

}

.newdiv img{
   height: 50px;
   width: 40px;
   margin: 0px;
   padding: 0px;

  
}

/* table */

table tr td{
   
       border: 2px solid black;

     height: 20px ;
 
         width: 1000px ;

            border-radius: 20px ;
  }

  /* img06 */
img{
 
     height: 300px ;

       width: 1010px;
        
          
}

 /* kurulus osman */

.biog{

    border: 2px solid thistle;
     border-radius: 7px ;

              height: 400px;
         width: 270px ;
 
              background-color: rgba(42, 165, 69, 0.301);
    
    margin: 15px 10px 10px 25px ;

         padding: 10px ;

         overflow: scroll;
          
           float: left;
          
}

.img2{

   height: 150px ;

     width: 250px ;

}

.span{

    color: blueviolet;
}

a:link{

   text-decoration: none;

}

.marq{
    
   background-color: turquoise;


}

.tow{

    width: 5%;
    padding: 10px;
    background-color: yellow;
    border-radius: 0px;

}
/* footer */
footer{
	overflow: hidden;
}
footer ul{
	list-style-type: none;
}
footer li{
float: left;
}
footer ul li a{
	display: block;
	padding: 15px 15px;

  font-size: 15px ;
}

footer ul li a:hover{

   color: black;

   background-color: navajowhite ;

   border: 2px solid thistle;
     border-radius: 7px ;

     font-size: 15px;
}


footer a{
	text-decoration: none;
	color: white;
}
.container-full{
width: 100%;
}
.container{
padding-left: 5%;
padding-right: 5%;
}
.foot-menu{
	margin-left: 100px;
	 
}
.fullstory{
	overflow: hidden;
margin-top: 200px;
}
.fullstory, .input{
	
  margin-left: 400px;

  
}
 

}
.fullstory button{
 height: 50px;
 background-color: chocolate;
 border: none;
}
 .copyright{
   margin-top: 70px;
   margin-left: 470px;

   display: inline;
   padding: 10px ;
}
 #footer{
   padding-top: 10px;
   height: 450px;
   background-color: black ;
   color: aliceblue;
   display: block;
}
 
#footer.logo{
 
   margin-left: 570px;
   margin-top: 10px;
 
}
 #footer.logo img{
 
   height: 80px ;
   width: 80px ;
}
.copyright{
	margin-right: 500px;
}

.input button{

   height: 40px;
   background-color: springgreen;
    
   border: 2px;
   border-radius: 10px;
   border-color: tomato ;
   

}

.btn{

   
   border-radius: 5px;
   padding: 0.8rem 1.8rem ;

 

   
}

.btn:hover{

   border: none;
   background-color: yellow;
   color: tomato;
   border: 2px solid white;


}

/* Registration */

*{

   margin: 0px;
   padding: 0px;

}

.badboy{
   
   background: url(" images/597.jpg") ;
   
   background-size: 100cm;

   background-position: -400px 0px;


   margin: 10px;
   padding: 10px;
}

div.main{
   width: 400px;

   margin: 100px auto 0px auto ;

}
.h20{
   text-align: center;
   padding: 20px;
   font-family: sans-serif;

}

div.register {

   background-color:  rgba(0, 0, 0, 0.322) ;
   width: 100%;
   font-size: 18px;
   border-radius: 10px;
   border: 1px solid white;
   box-shadow: 2px  2px 15px  rgba(0,0,0,0.3) ;
   color: #fff;
   padding: 40px;
   
}

label{
   font-family: sans-serif;
   font-size: 18px;
   font-style: italic;


}

input#name{

   width: 300px;
   border: 1px  solid #ddd;
   border-radius: 3px;
   outline: 0;
   padding: 7px;
   background-color: #fff;
   box-shadow: inset 1px  1px 5px rgba (0,0,0,0.3) ;


}

input#submit{

     width: 200px ;
     padding: 7px ;
     font-size: 16px ;
     font-family: sans-serif ;
     font-weight: 600 ;
     border: none ;
     border-radius: 3px ;
     background-color: tomato ;
     color: #fff;
     cursor: pointer;
     border: 1px solid rgba (225,225,255,0.3);
     box-shadow: 1px 1px 5px rgba(0,0,0,0.3) ;

}

label,span.h2o{

    text-shadow: 1px 1px 5px  rgba(0,0,0,0.3 );


}
